* {
background-color: rgb(255, 255, 255);
font-family: Helvetica, "Lucida Console", Fantasy;
box-sizing:content-box;
}

.recipes {
font-size: 20px;
}

.big,
#pop {    
    font-size: 32px;
    color:rgb(0, 0, 0);
}

.pic1 {
width: 200px;
margin: auto;
border: 0.5em double black;
display: flex;
}
